/* PÁGINA SOBRE */

/* Introdução */

.interno_portfolio{
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
}

.quote_clientes{
    padding: 50px 0 40px 0;
    max-width: 567px;
    margin: 0 auto;
}

.quote_clientes p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 13px;
}

.quote_clientes span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 220px;
    font-style: normal;
    text-align: center;
}

/* Portfólio */
