/* PÁGINA SOBRE */

/* Introdução */

.interno_sobre{
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
}

/* Sobre */

.sobre {
    padding-top: 70px;
}

.sobre p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
}

.sobre ul li{
    font-size: 18px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre_imagem{
    padding-top: 20px;
}