body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 4px solid #FEC63E;
    color:#FEC63E;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 10px 27px;
    font-weight: bold;
}

.btn:hover {
    border: 4px solid #ffffff;
    color:#ffffff;
}

.btn.btn-preto:hover{
    border: 4px solid #000000;
    color:#000000;
}

.subtitulo {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
}

.subtitulo_interno {
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
}

.subtitulo_interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 12px 0 20px 0;
}

.produtos .subtitulo:after{
    margin: 12px auto 77px auto;
}

.introducao_interno {
    width: 100%;
    height: 160px;
    text-align: center;
    padding-top: 38px;
    margin-top: 80px;
    color: #fff;
}

.introducao_interno h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-interno p:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 10.5px auto 11px auto;
}

.nao-aparece{
    visibility: hidden;
    position: absolute;
    height: 0px;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FEC63E;
    height: 80px;
    z-index: 1;
}

.header_menu{
    text-align: right;
    
}

.header_menu ul li{
    text-align: right;
    display: inline-block;
    margin-left: 20px;
    margin-top: 32px;
    
}

.header_menu ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a.ativo {
    color: white;
}

.header_menu ul li a:hover{
   color: #fff;
}


header img{
    padding-top: 9px;
}

/* INTRODUÇÃO */

.introducao {
    width: 100%;
    background: url("../img/bg-home.jpg");
    background-size: cover;
    margin-top: 80px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 300px;
    margin: 0 auto;
    color: white;
    line-height: 20px;
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 18px auto 12px auto;
}

.quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 12px auto 20px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
}

.container .btn{
    margin-top: 39px;
}

.introducao .btn {
    background-color: rgba(0, 0, 0, 0.40);
}

/* Produtos */

.produtos {
    padding: 56px 0;
}

.produtos_lista li{
    background: #FEC63E;
    text-align: center;
}

.produtos_lista li h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 15px;
}

.produtos_lista li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 12px auto 0 auto;
}

.produtos_lista li p {
    padding: 14px 20px 23px 20px;
}

.produtos_icone {
    background: #000;
    padding: 45px;
}

.call {
    padding-top: 77px;
    text-align: center;
    clear: both;
}

.call p{
    margin-bottom: 27px;
}

/* Portfólio */

.portfolio {
    width: 100%;
    background: #000;
    padding: 57px 0 57px 0;
}

.portfolio .subtitulo{
    color:#FEC63E;
}

.portfolio .subtitulo:after{
    margin: 12px auto 25px auto;
}

.portfolio .call {
    padding-top: 40px;
}

.portfolio_lista li:last-child {
    margin-top: 20px;

}

.portfolio .call p{
    color: white;
}

/* Qualidade */

.qualidade .call {
    padding-top: 0px;
}

.qualidade {
    padding: 56px 0 60px 0;
    overflow: auto;
}

.qualidade:after{
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/svg/linhas.svg");
    position: absolute;
    top: 183px;
    right: 162px;
}

.qualidade .subtitulo:after{
    margin: 12px auto 24px auto;
}

.qualidade img{
    margin: 0 auto;
}

.qualidade_lista li{
    text-align: center;
    padding: 30px 40px 0px 40px;
}

.qualidade_lista li h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 30px;
}

.qualidade_lista li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 10px auto 0 auto;
    z-index: -1;
}

.qualidade_lista li p {
    padding: 10px 0 56px 0;
}

/* Quebra */

.quebra .quote-externo{
    max-width: 400px;
}

.quebra{
    width: 100%;
    height: 220px;
    background: url("../img/bg-quote.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}


/* Footer */

.footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 21px 0;
}

.footer h3{
    color: #FEC63E;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.footer h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 10px 0 20px 0;
}

.footer_historia{
    padding-right: 50px;
}

.footer_historia p{
    line-height: 20px;
}

.footer_contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.footer_redes ul li{
    display: inline-block;   
    margin-right: 15px;
}

.footer_redes ul li a{
    border: 3px solid #FEC63E;
    display: block;
}

.footer_redes ul li a:hover{
    border-color:#fff;
}

.footer_redes .fb{
    padding: 10.7px 16.6px;
}

.footer_redes .in{
    padding: 10.7px;
}

.footer_redes .tw{
    padding: 12.9px 10.6px;
}

.copy{
    background-color: #FEC63E;
    width: 100%;
    padding: 22px 0;
}

/* JavaScript */

.js [data-slide]{
    position: relative;
}
.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}
.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
}

.js [data-slide-nav]{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}

.js [data-slide-nav] button.active{
    background: #FEC63E;
}

.js [data-anime] {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}

.js .fadeInDown{
    transform: translate3d(0, -20px, 0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

#form-sucesso{
    color: #31AA39;
}

#form-erro{
    color: #F64540;
}